@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: tan;
}

h1 {
  margin: 0;
  margin-top: .6rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.chimp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  cursor: pointer;
}