@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  transition: background-color 0.4s ease;
}

:root {
  --color-light: #ced2ff;
  --color-dark: #2b2b2b;
  --color-signal: #c1caff;
  
  --bg-panel: var(--color-signal);
  --color-text: var(--color-dark);
  --color-accent: var(--color-dark);
  
  --size-bezel: .5rem;
  --size-radius: 4px;
}

html{
  --bg: --color-light;
  /* --bg-panel: #b2b2b2; */
  --bg-panel: #33374c;
  /* --color-text: #33374c; */
  --color-text: #33374c;
}

html[data-theme='dark'] {
  --bg: #161821;
  /* --bg-panel: #595e76; */
  --bg-panel: #c6c8d1; 
  /* --color-text: #c6c8d1; */
  --color-text: #595e76;
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--color-text);
  color: var(--bg);
  padding: 5px;
  border: none;
}

.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  /* background-color: rgb(255, 255, 255); */
  background-color: var(--color-text);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgba(230, 146, 146, 0.479);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  /* background-color: #000000; */
  background-color: var(--bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg);
  color: var(--color-text);
  text-align: center;
}

main {
  width: 350px;
  background: var(--bg);
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: .8rem .8rem 0 var(--color-shadow, currentColor);
  padding: 4% 5%;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 7px;
  background-color: var(--bg-panel);
  /* box-shadow: 7px 7px 20px var(--color-text); */
}

h1 {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
  padding-bottom: 20px;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.row {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;

}

.numInput {
  width: 50%;
  font-size: 17px;
  border-width: 1px;
  border-style: solid;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 2px solid #333;
  border-radius: .3em;
  padding: .25rem;
  margin-right: 2mm;
}

select {
  width: 30%;
  font-size: 17px;
  border-width: 1px;
  border-style: solid;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 2px solid #333;
  border-radius: .3em;
  padding: .25rem;
  margin-right: 2mm;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}