@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  transition: background-color 0.6s ease, color 1s ease;
}

html{
  --bg: #e8e9ec;
  /* --bg-panel: #b2b2b2; */
  --bg-panel: #33374c;
  /* --color-text: #33374c; */
  --color-text: #b2b2b2;
}

html[data-theme='dark'] {
  --bg: #161821;
  /* --bg-panel: #595e76; */
  --bg-panel: #c6c8d1; 
  /* --color-text: #c6c8d1; */
  --color-text: #595e76;
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--color-text);
  color: var(--bg);
  padding: 5px;
  border: none;
}

.switch {
  display: inline-block;
  height: 34px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  /* background-color: rgb(255, 255, 255); */
  background-color: var(--color-text);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgba(230, 146, 146, 0.479);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  /* background-color: #000000; */
  background-color: var(--bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg);
  color: var(--color-text);
  text-align: center;
}

main {
  width: 350px;
  padding: 30px;
  border-radius: 7px;
  background-color: var(--bg-panel);
  /* box-shadow: 7px 7px 20px var(--color-text); */
}

h1 {
  margin: 0;
  margin-top: .6rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

input {
  height: 40px;
  font-size: 17px;
  padding: 0px 15px;
  border-width: 1px;
  border-style: solid;
  color: var(--bg-panel);
  background-color: var(--color-text);
  border-color: var(--color-text);
  border-image: initial;
}

h1 {
  padding: 20px
}